@import '../domain/background';
@import '../domain/authenticated-user-header';
@import "../constants/colors";
@import "../inj-styles/input-placeholder";

section#dashboard-page {

  @include lgb-background;

  @include authenticated-user-header;

  section#translators-works {

    margin-top: 25px;

    h3, div#list-interaction-widget, ul#works {
      display: flex;
    }

    h3, div#list-interaction-widget{
      justify-content: center;
    }

    h3 {
      font-size: 24px;
    }

    div#list-interaction-widget {
      margin-top: 24px;

      button#new-translation {
        background-color: $transparent;
        position: relative;
        width: 28px;
        height: 28px;

        border: 1px solid $pascal-white;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;

        transition: background-color 1s, color 1s;

        color: $pascal-white;

        &:hover {
          cursor: pointer;

          background-color: $pascal-white-thin;
          color: $pascal-light-blue;
        }

        div#plus-icon {
          position: absolute;
          top: -6.5px;
          left: 4.7px;

          color: inherit;
          font-size: 28px;
        }
      }

      input#translations-filter {
        background-color: $transparent;
        color: $pascal-white;

        padding-left: 8px;

        border: 1px solid $pascal-white;
        border-left: 0px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;

        @include apply-to-placeholder { color: $pascal-white-thin; };
      }
    }

    ul#works {
      flex-direction: column;
      align-items: center;
      margin-top: 18px;
    }
  }
}
