$transparent: rgba(0, 0, 0, 0);

$pascal-light-blue: #00c4ff;
$pascal-white: white;
$pascal-white-thin: rgba(255, 255, 255, 0.7);
$pascal-hair-red: #df665f;
$pascal-arm-green: #a3bd7b;
$pascal-arm-green-ligh: #a5fb22;
