@import "./transitioning-submit-button";

@mixin authenticated-user-header() {

  section#authenticated-user-header {
    display: flex;
    justify-content: space-between;

    padding-top: 15px;

    h3#site-header, ul#header-links {
      display: flex;
    }

    h3#site-header {
      padding-top: 6px;
      margin-left: 55px;
      font-size: 18px;
    }

    ul#header-links {
      margin-right: 25px;

      li {
        margin-right: 35px;
        font-size: 18px;
      }

      li:first-child {
        padding-top: 6px;
      }

      button#log-out {
        @include transitioning-submit-button;
      }
    }



  }
}
