@import "../inj-styles/input-placeholder";
@import "../constants/colors";
@import "./transitioning-submit-button";

@mixin credentials-modal($form-type) {

  form##{$form-type} {

    width: 450px;
    margin: auto;
    border: 2px solid $pascal-white;
    border-radius: 5px;
    padding: 50px 0;

    h1 {
      text-align: center;
      font-size: 34px;
    }


    input#username, input#password, button##{$form-type} {
      margin: auto;
    }

    input#username, input#password {
      background-color: $transparent;
      color: white;
      border-bottom: 1px solid $pascal-white;

      font-size: 18px;

      @include apply-to-placeholder {
        color: $pascal-white-thin;
      };
    }


    input#username {
      margin-top: 25px;
    }

    input#password {
      margin-top: 15px;
    }

    button#login {
      margin-top: 25px;
      @include transitioning-submit-button;
    }
  }
}
