@import "../constants/colors";

@mixin transitioning-submit-button($padding: 6px, $font-size:18px) {

  color: $pascal-white;
  background-color: $transparent;
  border: 1px solid white;
  border-radius: 5px;
  padding: $padding;

  font-size: $font-size;

  transition: background-color 1s, color 1s;

  &:hover {
    cursor: pointer;

    background-color: $pascal-white-thin;
    color: $pascal-light-blue;
  }

}
